.container{
    background: #282c34;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.title{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}